<br>
<div class="center card border-dark bg-white border-5" >
      <div class="center card w-100 border-warning bg-light border-5" >
   <h3 style="text-align: center;"><app-tag  *ngFor="let tag of groupTags;" [tag] = "tag">
   </app-tag></h3>
      </div>
   <div class = "container">
      <div class = "row">
         <div class = "col-7 card w-50 border-dark border-5"style="font-weight: bold;">
               <app-messages 
               [event] = "postMessage" 
               (groupTags)='updateTags($event)'
               (groupMembers)='updateMembers($event)'>
                </app-messages>
         </div>
         <div class="card w-10 border-dark border-5">
         <div class = "col-auto" style="font-weight: bold;"> Group Members
               <app-members *ngFor="let member of groupMembers;" [member] = "member"></app-members>
         </div>
         </div>
      </div>
      <div class = "row card border-dark border-5">
           <div class = "col-7"> 
                 <app-create-message (postMessage)="messageSubmitted($event)"></app-create-message>
            </div>
      </div>
   </div>
   </div>
