<div>
  <h1>Search Groups</h1>
  <app-search-bar></app-search-bar>
  <h6>To enter a group tag - press space or comma, to remove a searched group - press backspace</h6>
  <ul class="groupCard">
    <li class="groupList" *ngFor="let group of groups">
      <div class="card w-50 border-dark text-white bg-dark" *ngIf="compareSearchToTags(convertToStringArray(group.tags)) === true">
        <span style="text-align: center">Tags:</span>
        <span *ngFor="let tag of group.tags" class="badge">- {{tag.name}}</span>
        <p>Number of members: {{group.size}}</p>
        <button *ngIf="group.isSubscribed" class="button1 btn-lg bg-light text-dark">Join Group Messenger <span class="fa fa-users"></span></button>
        <button *ngIf="group.isSubscribed" (click)="unsubscribeToGroup(group.id)" class="button1 btn-lg bg-danger text-white">Unsubscribe <span class="fa fa-minus-square"></span></button>
        <button *ngIf="!group.isSubscribed" (click)="subscribeToGroup(group.id)" class="button1 btn-lg bg-success text-white">Subscribe <span class="fa fa-plus-square"></span></button>
      </div>
    </li>
  </ul>

  <h1>My Groups</h1>
  <ul class="groupCard">
    <li class="groupList" *ngFor="let group of groups">
      <div class="card w-50 border-dark text-white bg-dark" *ngIf="group.isSubscribed === true">
        <span style="text-align: center">Tags:</span>
        <span *ngFor="let tag of group.tags" class="badge">- {{tag.name}}</span>
        <p>Number of members: {{group.size}}</p>
        <button *ngIf="group.isSubscribed" class="button1 btn-lg bg-light text-dark">Join Group Messenger <span class="fa fa-users"></span></button>
        <button *ngIf="group.isSubscribed" (click)="unsubscribeToGroup(group.id)" class="button1 btn-lg bg-danger text-white">Unsubscribe <span class="fa fa-minus-square"></span></button>
      </div>
    </li>
  </ul>

  <h1>All Groups</h1>
  <ul class="groupCard">
    <li class="groupList" *ngFor="let group of groups">
      <div class="card w-50 border-dark text-white bg-dark">
        <span class = "tags">Tags:</span>
      <span *ngFor="let tag of group.tags" class="badge">- {{tag.name}}</span>
      <p>Number of members: {{group.size}}</p>
        <button *ngIf="group.isSubscribed" class="button1 btn-lg bg-light text-dark">Join Group Messenger <span class="fa fa-users"></span></button>
      <button *ngIf="group.isSubscribed" (click)="unsubscribeToGroup(group.id)" class="button1 btn-lg bg-danger text-white">Unsubscribe <span class="fa fa-minus-square"></span></button>
        <button *ngIf="!group.isSubscribed" (click)="subscribeToGroup(group.id)" class="button1 btn-lg bg-success text-white">Subscribe <span class="fa fa-plus-square"></span></button>
      </div>
    </li>
  </ul>
</div>
