<nav class="navbar navbar-static-top bg-dark" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <a class="navbar-brand navbar-left" href="#">
    <img alt="Brand" src="assets/Logo.PNG">
  </a>

  <div class="navbar-header">
    <div class="btn-group" style="font-size:24px;">
      <button type="button" class="btn btn-default btn-light btn-circle btn-md dropdown-toggle">
      <span class="fa fa-commenting-o fa-3x"></span>
      </button>
      
      <button type="button" class="btn btn-default btn-light dropdown-toggle btn-circle btn-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="fa fa-user-o fa-3x"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">View Profile</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
