<nav class="navbar navbar-static-top bg-dark" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <a class="navbar-brand navbar-left" href="#">
    <img alt="Brand" src="assets/Logo.png">
  </a>

  <div class="navbar-header">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-light dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        User <span class="fa fa-user-o"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">View Profile</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
